@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Hind:wght@300&family=Mukta:wght@500&family=Quicksand&display=swap');


* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 6px;
  font-family: "Mukta", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 24px;
  background-color: rgb(246, 151, 119);
}

h2 {
  margin-top: 20px;
  color: rgb(246, 151, 119);
  font-family: "Crimson Text", serif;
  text-align: center;
}

header {
  margin: 0;
  width: 100%;
  background-color: rgb(246, 151, 119);
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  text-align: center;

  a {
    font-family: "Montserrat", Sans-serif;
    margin-bottom: 1px;

  }

}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 10px;
  font-family: 'Mukta', sans-serif;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  padding-inline-start: 10px;
  letter-spacing: 1px;

  &:hover {
    color: rgb(0, 0, 0);
  }
}


#foto1 img {
  width: 100%;
  height: 320px;

  &:hover {
    filter: grayscale(100%);
    scale: 1.03;
    transition: all 1s ease;
  }

  &:hover:not(:hover) {
    filter: grayscale(0%);
    scale: 1;
    transition: all 0.5s ease;
  }
}

#rutina {
  margin-top: 25px;
  color: aliceblue;

  li {
    text-align: left;
    font-family: "Crimson Text", serif;
    font-size: 14px;
  
  }




  h2 {
    color: aliceblue;
    text-align: center;
    font-family: "Crimson Text", serif;
    font-size: 22px;

    &:hover {
      color: rgb(0, 0, 0);
      transition: all 0.2s ease-out;
    }

  }
}

footer {
  height: 15%;
  color: aliceblue;
  text-align: center;
  font-family: 'Mukta', sans-serif;
  background-color: rgb(246, 151, 119);
}

// Esta grilla sera la que se muestre para un celular
#grilla {
  display: grid;
  grid-template-areas:
    "uno"
    "dos"
    "tres"
    "cuatro";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  gap: 5px;
  background: aliceblue;
}

#challenge {
  grid-area: uno;
  margin: 10px;
  background: linear-gradient(90deg, rgba(246, 151, 119, 1) 25%, rgba(245, 137, 100, 1) 39%, rgba(238, 113, 69, 1) 67%);
  display: inline-block;
  justify-content: center;
}

#plaza1 {
  grid-area: dos;
  margin: 10px;
  background-color: aliceblue;
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-family: 'Hind', sans-serif;
}



#video {
  grid-area: tres;
  background-color: aliceblue;
  color: aliceblue;
  display: flex;
  justify-content: center;

}

#plaza2 {
  grid-area: cuatro;
  background-color: aliceblue;
  color: aliceblue;
  display: flex;
  justify-content: center;
}

iframe {
  height: 150px;
}


#grilla2 {
  display: grid;
  grid-template-areas:
    "cinco"
    "siete"
    "seis";
  grid-template-columns: auto;
  gap: 5px;
}

.contacto-info {
  grid: cinco;
  flex: 0;
  padding-left: 20px;
  display: block;

  align-items: center;

  a {
    color: black;
  }

  h2 {
    font-family: "Montserrat", Sans-serif;
    color: rgb(246, 151, 119);
    font-size: 20px;
  }
}

#foto2 {
  width: 60%;
  height: 90%;
  border-radius: 50%;
  padding-left: 20px;
}

form {
  grid-area: seis;
}

#imagen {
  grid-area: siete;
  align-items: center;

}

.contact-item {
  position: relative;
  padding-right: 30px;
  list-style: none;
  margin-top: 10px;
  display: flex;
  align-items: center;

}

.icono {
  text-align: center;
  width: 1.25em;
}

.formulario {
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.form-control {


  display: block;
  height: 25px;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 5px;


}

#Textarea1 {
  height: 150px;
  padding-top: 2%;
  font-size: 13px;
  font-family: "Montserrat", Sans-serif;


}


.form-label {
  font-size: 16px;
  font-family: "Montserrat", Sans-serif;
}

.botonenviar {
  width: 82%;
  padding: 13px;
  background-color: rgb(246, 151, 119);
  ;
  color: aliceblue;
  letter-spacing: 2px;
  font-weight: bold;
  border: 0;
  border-radius: 40px;
  text-transform: uppercase;
}

#grilla3 {
  display: grid;
  grid-template-areas:
    "ocho"
    "nueve"
    "diez"
    "once";
  grid-template-columns:auto;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;

}



#minifoto1 {
  grid-area: ocho;
}

#minifoto2 {
  grid-area: nueve;

}

#minifoto3 {
  grid-area: diez;
}

#minifoto4 {
  grid-area: once;
}

.card-text {
  color: aliceblue;
  font-family: "Crimson Text", serif;
  font-size: 16px;
  justify-content: center;
}


.accordion-button {
  font-size: 16px;
  color: black
}

.accordion-button:not(.collapsed) {
  color: rgb(246, 151, 119);
  background-color: rgb(255, 223, 212);

}


.accordion {
  font-size: 15px;
}

#quiensoy {
  p{
    padding-left: 20px;
    padding-right: 10px;
    color: black;
    font-family: "Crimson Text", serif;
  }
}

@media (min-width:1024px) {

  h1 {
    font-size: 40px;
  }

  a {
    font-size: 20px;
    padding-inline-start: 40px;
  }

  #foto1 img {
    height: 100%;
  }

  #rutina {
    margin-top: 100px;

    li {
      font-size: 24px;
    }

    h2 {
      font-size: 75px;
    }
  }

  #grilla {
    display: grid;
    grid-template-areas:
      "uno uno uno"
      "dos tres cuatro";
    grid-template-columns: auto 33% 33%;
    grid-template-rows: auto auto;
    gap: 5px;
    background: aliceblue;
  }

  #challenge {
    grid-area: uno;
    margin: 10px;

  }

  #challengeimg {
    margin: 50px;
    width: 500px;
    height: 500px;
    background-image: url("../img/barra.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;

  }

  #plaza1 {
    grid-area: dos;
  }

  #video {
    grid-area: tres;
  }

  #plaza2 {
    grid-area: cuatro;
  }

  iframe {
    height: 250px;
  }


  #grilla2 {
    display: grid;
    grid-template-areas:
      "cinco seis"
      "siete seis";
    grid-template-columns: auto 60%;
    gap: 5px;
  }

  .contacto-info {
    grid: cinco;

    h2 {
      font-size: 50px;
    }
  }

  form {
    grid-area: seis;
  }

  #imagen {
    grid-area: siete;
  }

  .formulario {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .form-control {
    height: 40px;
    width: 60%;
   }

  #Textarea1 {
    height: 200px;
    font-size: 15px;
  }

  .form-label {
    font-size: 20px;
  }

  .botonenviar {
    width: 62%;
  }


  #grilla3 {
    display: grid;
    grid-template-areas:
      "ocho nueve"
      "diez once";
    grid-template-columns: 50% auto;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;

  }



  #minifoto1 {
    grid-area: ocho;
  }

  #minifoto2 {
    grid-area: nueve;

  }

  #minifoto3 {
    grid-area: diez;
  }

  #minifoto4 {
    grid-area: once;
  }

  .card-text {
    font-size: 20px;
  }

  .accordion-button {
    font-size: 25px;
    color: black
  }

  #quiensoy {
    height: 600px;
  }

  #imgfinal {
    margin: 50px;
    width: 500px;
    height: 500px;
    background-image: url("../img/mililogo.jpg");
    background-size: cover;
    float: left;
  }
}
